@using Microsoft.AspNetCore.Mvc.Localization
@model WebApp.Models.Product

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details"];
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Localizer["Product"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cell)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Edit"]</a> <span>|</span>
    }
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
